@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Arvo");
header, footer{
	background-color: #033d56;
	color: #f67ada;
	text-align: center;
	font-size: 1.1rem;
}
header a, header i{
	padding: 1rem 2rem 1rem 2rem;
}
header a:hover, header i:hover{
	background-color: #045071;
	color: white;
}

h1{
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: #033d56;
	font-family: "Sofia", sans-serif;
}
h2, h3{
	text-align: center;
	font-family: "Caveat", sans-serif;
	
}
body {
	background-color: #ebb2f2;
	font-family: "Arvo", sans-serif;
	text-align: center;
}
